@model DotNetCore5Kamp.Controllers.Class1
@{
    ViewData["Title"] = "EditEmployee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>API - Personel Güncelleme Alanı</h1>

<div class="card">
    <div class="card-body">
        <form method="post">
            <label>ID</label>
            @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "true" })
            <br />
            <label>Personel İsmi</label>
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @autocomplete = "false" })
            <br />
            <button class="btn btn-outline-success">Güncelle</button>
        </form>
    </div>
</div>

