
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>

<p>Test Sayfama Hoş Geldiniz!</p>
<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Departman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Evren</td>
        <td>Yazılım</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Oya</td>
        <td>Analist</td>
    </tr>
</table>