@model IEnumerable<SelectListItem>

<div class="form-group col-md-6">
    <label for="exampleInputPassword2 mb-2">Şehir Seçiniz</label>
    <select class="form-control" asp-items="@Model"></select>
</div>