
@{
    ViewData["Title"] = "BlogListExcel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Blog Listesi</h1>
<br />
<a href="/Admin/Blog/ExportDynamicExcelBlogList" class="btn btn-outline-info">Excel Listesini İndir</a>